bookstore_project/env/
bookstore_project/bookstore_project/__pycache__
bookstore_project/bookstore_project/store/__pycache__/
bookstore_project/bookstore_project/store/management/
bookstore_project/bookstore_project/store/migrations/__pycache__/